/* header styles */
.navigation{
    display: inline-block;
    vertical-align: middle;
    padding-left: 150px;
}
.nav-li{
    display: inline-block;
    margin-right: 30px;
}
.Logo{
    vertical-align: middle;
    }
.header-wrapper{
    padding: 68px 0 68px 162px;
    }
    .nav-a{
        font-family: 'Roboto', sans-serif;
        color: #274C5B;
        font-size: 20px;

    }
/* section styles */
.section-bg{
    background: #FFFFFF;
}
.conteiner{
  width: 1400px;
  margin: 0 auto;
  /* background-color: lightgrey; */
}
.left-block{
    width: 671px;
    padding-right: 51px;
    display: inline-block;
    vertical-align: top;
}
.right-block{
    width: 678px;
    /* background-color: aqua; */
    display: inline-block;
    vertical-align: top;
}

/* left block styles */
.title-section{
    font-family: 'Yellowtail';
    font-size: 36px;
    color: #7EB693;
    margin-bottom: 6px;
}
.section-descr{
    font-size: 50px;
    font-family: 'Roboto-bold';
    width: 524px;
    color: #274C5B;
    margin-bottom: 25px;
}
.description{
    font-family: 'Open Sans';
    font-size: 18px;
    width: 671px;
    margin-bottom: 36px;
    color: #525C60;
}
.description-pad{
    font-size: 18px;
    width: 415px;
    margin: 0 0 24px 60px;
    color: #525C60;
}
.grey-img{
    display: inline-block;
    vertical-align: middle;
}
.grey-descr{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    vertical-align: middle;
}
.grey-block{
    height: 81px;
    width: 339px;
    background-color: #ECECEC;
    padding: 40px 0 0 23px;
    margin-bottom: 12px;
    
}
/* new block  */
.conteiner-wrapper{
    width: 1118px;
    margin: 0  auto;
    /* background-color: #7EB693; */
}
.block{
    width: 257px;
    height: 335px;
    background-color: #c3e1c6;
    display: inline-block;
    
}
.active-block2{
    margin-left: 30px;
    margin-right: 30px;
}
.active-block3{
    margin-right: 30px;
}

.block-text{
    font-size: 18px;
    margin-top: 20px;    
    text-align: center;

}
.block-title{
    font-size: 25px;
    margin: 29px 0 0 22px;
}

/* about html is stylebi !!! */

.div-Baner{
    width: 1920px;
    height: 450px;
    margin-top: 73px;
    
}
.service{
    width: 1400px;
    margin: 0 auto;
    width: 100%;
    
}
.div-surati{
    width: 1400px;
    height: 934px;
    padding-top: 96px;
    margin: 0   auto;
    
}

.satauri-about{
    font-family: 'Roboto-bold';
    font-size: 50px;
    color: #274C5B;
    width: 517px;
    height: 59px;
    padding-left: 492px;
    
}
.satauris-agcera-div{
    width: 936px;
    margin-bottom: 18px;
}
.suratis-agcera1{
    font-family: 'Open Sans';
    font-size: 18px;
    color: #525C60;
    padding-left: 492px;
    width: 936px;
}
.suratis-agcera2{
    font-family: 'Open Sans';
    font-size: 18px;
    color: #525C60;
    padding-left: 492px;
    margin-bottom: 70px;
    width: 936px;
    
}
.satauri-about{
    margin-bottom: 28px;  
}
.khelebi{
    display: inline-block;
    width: 476px;
    height: 358px;
    padding-left: 492px;
}
.khelebi2{
    display: inline-block;
    width: 537px;
    vertical-align: top;
    }
    .khelebis-sat{
    font-family: 'Roboto-bold';
    font-size: 25px;
    color: #274C5B;
    padding-top: 99px;
    padding-left: 45px;   
    }
    .khelebis-agcera{
    font-family: 'Open Sans';
    font-size: 18px;
    color: #525C60;
    padding-left: 45px;
    margin-top: 7px;

    }
    /* meore suratiani agcera */
    .qotnebi{
        display: inline-block;
        width: 537px;
        padding-left: 492px;
        vertical-align: top;
    }
    .qotnebi-title{
    font-family: 'Roboto-bold';
    font-size: 25px;
    color: #274C5B;
    margin-bottom: 7px;
    padding-left: 45px;
    padding-top: 63px;
    
    }
    .qotnebi-agcera{
    font-family: 'Open Sans';
    font-size: 18px;
    color: #525C60;  
    padding-left: 45px;  
    }
    .suratiqotnebi{
        display: inline-block;
        width: 420px;
        height: 280px;
        margin-left: 45px;
    }
    .title-about{
    font-family: 'Roboto-bold';
    font-size: 35px;
    color: #274C5B;
    padding-left: 492px;
    margin-top: 70px;
    margin-bottom: 11px;   
    }
    .agcera-about{
     font-family: 'Open Sans';
     font-size: 18px;
     color: #525C60;
     padding-left: 492px; 
     width: 936px;   
    }
    .limoni-div{
     display: inline-block;
    }
    .limoni{
     padding-left: 260px;
     margin-top: 97px;
     width: 1400px;
     height: 323px;   
    }
    /* footer styles */
    .footer{
        width: 1920px;
        height: 416px;
    }
    .Pages{
    font-family: 'Roboto-bold';
    font-size: 30px;
    color: #274C5B;
    margin-top: 60px;
    display: inline-block;
    margin-left: 315px;
      
     
    }
    .contact-div{
    display: inline-block;    
    padding-left: 261px;
    margin-top: 33px; 
    width: 285px;   
    }
    .li1{
        margin-bottom: 7px;
    }
    .li2{
    margin-bottom: 7px;     
    }
    .li-img{
        display: inline-block;
        margin-left: 456px;
        margin-top: 70px;
    }
    .contactus-title{
    display: inline-block;
    font-family: 'Roboto-bold';
    font-size: 30px;
    color: #274C5B;
    padding-left: 255px;
    margin-top: 60px;    
    }
    .p-footer{
        display: inline-block;
        width: 543px;
        color: #525C60;
        font-size: 18px;
        font-family: 'Open Sans';
        padding-left: 142px;
        vertical-align: top;
        margin-top: 27px;

    }
    .Pages-desc{
        font-size: 18px;
        width: 285px;
        font-family: 'Open Sans';
        color: #525C60;
        display: inline-block;
        margin-left: 143px;
        margin-top: 24px;
    }
    .bolo-p{
        text-align: center;
        margin-top: 250px;
        font-size: 18px;
        color: #525C60;
        font-family: 'Open Sans';
    }
    
        

    
    
     

